.aff {
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
}
.aff,
.aff .card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.aff .card {
  width: 200px;
  height: auto;
  border: 2px solid #252525;
  border-radius: 25px;
  background-color: #fcf6ee;
  padding: 10px 0;
  flex-direction: column;
  text-align: center;
}
